{% comment %}
    write a post's url as a relative url using information in the id parameter. designed
    to be used in markdown inside the parentheses used to specify a link.

    parameter id could be just the pid of a post or a pid with a bookmark;
    if bookmark is included, id should be of the form pid#bookmark; the bookmark may or may
    not be slugified
    
    uses pid to locate a post in site.posts. Example uses follow.

    [C-strings]({% include post-link.html id="1" %})
    1 is the pid assigned to the post (in the post's front matter)

    [string_view creation]({% include post-link.html id="2#Listing A" %})
    2 is the pid assigned to the post; "Listing A" is a pre-slug bookmark

    [string_view creation]({% include post-link.html id="2#listing-a" %})
    2 is the pid assigned to the post; "listing-a" is a slugified bookmark
{% endcomment %}

{%- assign link_parts = include.id | split: "#" -%}
{%- assign bookmark = link_parts[1] -%}

{%- assign post = site.posts | where: 'pid', link_parts[0]  | first -%}
{%- if post -%}
   {{- post.url | relative_url -}}
   {%- if bookmark -%}#{{- bookmark | slugify -}}{%- endif -%}
{%- endif -%}
